<link rel="import" href="../bower_components/prism-js/prism-js.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<script src="../bower_components/he/he.js"></script>

<polymer-element name="code-block" attributes="source language escape">
    <template>
        <core-ajax
            url="{{source}}"
            handleAs="text"
            response="{{content}}"
            auto>
        </core-ajax>

        <prism-js id="code" language="{{language || sourceLanguage()}}">
        </prism-js>
    </template>
    <script>
        Polymer('code-block', {
            escape: false,
            contentChanged: function (oldVal, newVal) {
                this.$.code.inputValue = this.escapeContent(newVal);
            },
            escapeContent: function (content) {
                if (this.isEscaped())
                    return he.encode(content);
                else
                    return content;
            },
            isEscaped: function () {
                var val = (this.language === 'markup' || this.escape);
                return val.toString();
            },
            sourceLanguage: function () {
                var ext = this.source.replace(/.*\./, ''),
                    exts = {
                        html: 'markup',
                        js: 'javascript',
                        css: 'css'
                    };
                return exts[ext];
            }
        });
    </script>
</polymer-element>
