<polymer-element name="collapsible-container" attributes="dim duration opened">
    <template>
        <style>
            :host {
                display:block;
                box-sizing:border-box;
                overflow:hidden;
            }
        </style>

        <core-animation id="anim"
            on-core-animation-finish="{{animationEnd}}"
            direction="{{opened ? 'reverse' : 'normal' }}" duration="{{duration}}">
            <core-animation-keyframe>
                <core-animation-prop name="{{cssProp}}" id="anim_start">
                </core-animation-prop>
            </core-animation-keyframe>

            <core-animation-keyframe>
                <core-animation-prop name="{{cssProp}}" value="0">
                </core-animation-prop>
            </core-animation-keyframe>
        </core-animation>

        <content></content>
    </template>

    <script>
        Polymer('collapsible-container', {
            dim: 'height',
            duration: 350,
            opened: true,
            computed: {
                cssProp: 'dim === "width" ? "width" : "height"'
            },
            getSize: function () {
                return this.getBoundingClientRect()[this.cssProp];
//                return getComputedStyle(this)[this.cssProp];
            },
            openedChanged: function (oldVal, newVal) {
                if (newVal === false)
                    this.$.anim_start.value = this.getSize();
                else
                    this.hidden = false;

                this.$.anim.target = this;
                this.$.anim.play();
            },
            animationEnd: function () {
                if (!this.opened)
                    this.hidden = true;
            },
            toggle: function () {
                this.opened = !this.opened;
            }
        });
    </script>
</polymer-element>
