<polymer-element name="collapsible-container" attributes="dim duration opened">
    <template>
        <style>
            :host {
                display:block;
                box-sizing:border-box;
                overflow:hidden;
            }
        </style>

        <core-animation id="anim"
            on-core-animation-finish="{{hideIfClosed}}"
            direction="{{opened ? 'normal' : 'reverse' }}" duration="{{duration}}">
            <core-animation-keyframe>
                <core-animation-prop name="{{cssProp}}" value="0">
                </core-animation-prop>
            </core-animation-keyframe>

            <core-animation-keyframe>
                <core-animation-prop name="{{cssProp}}" id="full">
                </core-animation-prop>
            </core-animation-keyframe>
        </core-animation>

        <div id="content"><content></content></div>
    </template>

    <script>
        Polymer('collapsible-container', {
            publish: {
                dim: 'height',
                duration: 350,
                opened: {
                    value: false,
                    reflect: true
                }
            },
            computed: {
                cssProp: 'dim === "width" ? "width" : "height"'
            },
            getSize: function () {
                return this.$.content.getBoundingClientRect()[this.cssProp];
            },
            openedChanged: function (oldVal, newVal) {
                if (newVal === true)
                    this.hidden = false;

                this.$.full.value = this.getSize();
                this.$.anim.target = this;
                this.$.anim.play();
            },
            hideIfClosed: function () {
                if (!this.opened)
                    this.hidden = true;
            },
            toggle: function () {
                this.opened = !this.opened;
            },
            ready: function () {
                this.hideIfClosed();
            }
        });
    </script>
</polymer-element>
